.App {
  width: 100%;
  margin: auto;


}
/*styling for header section */
.header{
  width: 80%;
  display: flex;
  margin: auto;
  justify-content: center;
}
.company-name{
  margin: 0;
  padding: 2px;
  padding-top: 10px;
  font-size: 1.5em;
}
.logo{
  width: 66px;
  height: 66px;
  padding: 2px;
  margin: 0;
}
/*searchbar section */
.searchbar-container{
  padding-top: 10px;
  width: 80%;
  margin: auto;
}
/*main grid section*/
.grid-container{
  width: 80%;
  margin: auto;
  padding-top: 10px;
  animation: fadein 1s;
}
.spinner{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 40px;
}
.error{
  display: flex;
  justify-content: center;
  width: 40%;
  margin: auto;
  animation: fadein 1s;
}

@keyframes fadein {
  0% { opacity: 0; }
  100%   { opacity: 1; }
}